rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /carousel/{allPaths=**} {
      allow read: if true;
      allow write: if false;
      allow list: if true;
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
      allow list: if false;
    }
  }
}
